.CodeCStyleBlockComment .CodeCStyleBlockCommentNote {
    color: rgb(19, 101, 179);
}

.CodeCStyleStringLiteral .CodeCStyleStringLiteralFormatted {
    color: rgb(49, 165, 214);
}

.CodeCStyleConstant .CodeCStyleCharBackSlash,
.CodeCStyleStringLiteral .CodeCStyleStringLiteralBackSlash {
    color: rgb(209, 173, 12);
}

#test {
    font-size: 13px;
}

.font-red-error{
    color: red;
}

span.wavy-line {
    text-decoration-style: wavy;
    text-decoration-line: underline;
}

span.decoration-line-red {
    text-decoration-color: red;
}

span.decoration-line-orange {
    text-decoration-color: orange;
}

span.decoration-line-yellow {
    text-decoration-color: yellow;
}

span.decoration-line-blue {
    text-decoration-color: rgb(18, 141, 199);
}

span.decoration-line-green {
    text-decoration-color: greenyellow;
}


.CodeCStyleTypeUndefined {
    color: rgb(48, 186, 255);
}

.CodeCStyleTypeDefinedWord {
    color: rgb(2, 82, 255);
    font-weight: bold;
}

.CodeCStyleTypeDefinedFun {
    color: rgb(36, 103, 180);
    font-weight: bold;
}

.CodeCStyleTypeMacroParamFind,
.CodeCStyleTypeMacroToString {
    color: rgb(48, 144, 255);
    font-weight: bold;
}

.CodeCStyleTypeMacroParamNotfind {
    color: rgb(113, 126, 141);
}

.CodeCStyleTypeFunDeclare {
    color: rgb(36, 103, 180);
}

.CodeCStyleTypeFunDef {
    color: rgb(36, 103, 180);
}

.CodeCStyleTypeTypedef {
    color: rgb(0, 30, 199);
}

