/* Default Style for C */
.CodeCStyle,
.CodeCStyle0,
.CodeCStyle1,
.CodeCStyle2,
.CodeCStyle3,
.CodeCStyle4,
.CodeCStyle5,
.CodeCStyle6,
.CodeCStyle7,
.CodeCStyle8,
.CodeCStyle9,
.CodeCStyle10,
.CodeCStyle11,
.CodeCStyle12,
.CodeCStyle13,
.CodeCStyle14,
.CodeCStyle15,
.CodeCStyle16,
.CodeCStyle17,
.CodeCStyle18,
.CodeCStyle19,
.CodeCStyle22,
.CodeCStyle23,
.CodeCStyle24,
.CodeCStyle26,
.CodeCStyle27,
.CodeCStyle28,
.CodeCStyle29,
.CodeCStyle30,
.CodeCStyle31,
.CodeCStyle32,
.CodeCStyle33,
.CodeCStyle35,
.CodeCStyle36,
.CodeCStyle37,
.CodeCStyle40,
.CodeCStyle41,
.CodeCStyle45,
.CodeCStyle46,
.CodeCStyle47,
.CodeCStyle48,
.CodeCStyle49,
.CodeCStyle50,
.CodeCStyle51,
.CodeCStyle52,
.CodeCStyle53,
.CodeCStyle54,
.CodeCStyle55,
.CodeCStyle56,
.CodeCStyle57,
.CodeCStyle58,
.CodeCStyle59,
.CodeCStyle60,
.CodeCStyle61,
.CodeCStyle62,
.CodeCStyle63,
.CodeCStyle64,
.CodeCStyle75,
.CodeCStyle76,
.CodeCStyle91,
.CodeCStyle108,
.CodeCStyle109,
.CodeCStyle110,
.CodeCStyle113,
.CodeCStyle117,
.CodeCStyle118,
.CodeCStyle119,
.CodeCStyle120,
.CodeCStyleDefault {
    color: red;
}

/* Style for C Signs*/
.CodeCStyle92,
.CodeCStyle93,
.CodeCStyle94,
.CodeCStyleSigns {
    color: black;
}

/* Style for C Keyword*/
.CodeCStyle21,
.CodeCStyle25,
.CodeCStyle34,
.CodeCStyle42,
.CodeCStyleKeyword {
    color: green;
    font-weight: bold;
}

/* Style for C Macros*/
.CodeCStyle20,
.CodeCStyle115,
.CodeCStyleMacros {
    color: green;
    font-weight: bold;
}

/* Style for C MacrosConst*/
.CodeCStyle116,
.CodeCStyleMacrosConst {
    color: brown;
}

/* Style for C NumberInteger*/
.CodeCStyle38,
.CodeCStyle39,
.CodeCStyle43,
.CodeCStyle44,
.CodeCStyleNumberInteger {
    color: blue;
}

/* Style for C Assign*/
.CodeCStyle95,
.CodeCStyle96,
.CodeCStyle97,
.CodeCStyle98,
.CodeCStyle99,
.CodeCStyle100,
.CodeCStyle101,
.CodeCStyle102,
.CodeCStyle103,
.CodeCStyle104,
.CodeCStyle105,
.CodeCStyleAssign {
    color: #777777;
}

/* Style for C Logic*/
.CodeCStyle86,
.CodeCStyle87,
.CodeCStyle89,
.CodeCStyleLogic {
    color: #165d8c;
}

/* Style for C Operator*/
.CodeCStyle77,
.CodeCStyle78,
.CodeCStyle79,
.CodeCStyle80,
.CodeCStyle81,
.CodeCStyle82,
.CodeCStyle83,
.CodeCStyle84,
.CodeCStyle85,
.CodeCStyle88,
.CodeCStyle90,
.CodeCStyleOperator {
    color: #4c62ee;
}

/* Style for C Compare*/
.CodeCStyle71,
.CodeCStyle72,
.CodeCStyle73,
.CodeCStyle74,
.CodeCStyle106,
.CodeCStyle107,
.CodeCStyleCompare {
    color: #268c80;
}

/* Style for C Identifier*/
.CodeCStyle111,
.CodeCStyleIdentifier {
    color: rgb(48, 144, 255);
}

/* Style for C Braket*/
.CodeCStyle65,
.CodeCStyle66,
.CodeCStyle67,
.CodeCStyle68,
.CodeCStyle69,
.CodeCStyle70,
.CodeCStyleBraket {
    color: purple;
}

/* Style for C Comment*/
.CodeCStyle121,
.CodeCStyle122,
.CodeCStyleComment {
    color: darkgreen;
}

/* Style for C Macro*/
.CodeCStyleMacro {
    color: darkgreen;
}

/* Style for C String*/
.CodeCStyle114,
.CodeCStyleString {
    color: rgb(33, 134, 33);
}

/* Style for C Constant*/
.CodeCStyle112,
.CodeCStyleConstant {
    color: rgb(100, 193, 100);
}

