/* Default Style for C++ */
.CodeCStyle,
.CodeCStyle0,
.CodeCStyle1,
.CodeCStyle2,
.CodeCStyle3,
.CodeCStyle4,
.CodeCStyle5,
.CodeCStyle6,
.CodeCStyle7,
.CodeCStyle8,
.CodeCStyle9,
.CodeCStyle10,
.CodeCStyle11,
.CodeCStyle12,
.CodeCStyle13,
.CodeCStyle14,
.CodeCStyle15,
.CodeCStyle16,
.CodeCStyle17,
.CodeCStyle18,
.CodeCStyle19,
.CodeCStyle20,
.CodeCStyle21,
.CodeCStyle22,
.CodeCStyle23,
.CodeCStyle24,
.CodeCStyle25,
.CodeCStyle26,
.CodeCStyle27,
.CodeCStyle28,
.CodeCStyle29,
.CodeCStyle30,
.CodeCStyle31,
.CodeCStyle32,
.CodeCStyle33,
.CodeCStyle34,
.CodeCStyle35,
.CodeCStyle36,
.CodeCStyle39,
.CodeCStyle40,
.CodeCStyle41,
.CodeCStyle44,
.CodeCStyle45,
.CodeCStyle46,
.CodeCStyle47,
.CodeCStyle48,
.CodeCStyle49,
.CodeCStyle50,
.CodeCStyle51,
.CodeCStyle52,
.CodeCStyle53,
.CodeCStyle54,
.CodeCStyle55,
.CodeCStyle56,
.CodeCStyle57,
.CodeCStyle58,
.CodeCStyle59,
.CodeCStyle60,
.CodeCStyle61,
.CodeCStyle62,
.CodeCStyle63,
.CodeCStyle64,
.CodeCStyle65,
.CodeCStyle66,
.CodeCStyle67,
.CodeCStyle68,
.CodeCStyle69,
.CodeCStyle70,
.CodeCStyle71,
.CodeCStyle72,
.CodeCStyle73,
.CodeCStyle74,
.CodeCStyle75,
.CodeCStyle76,
.CodeCStyle77,
.CodeCStyle78,
.CodeCStyle79,
.CodeCStyle80,
.CodeCStyle81,
.CodeCStyle82,
.CodeCStyle83,
.CodeCStyle84,
.CodeCStyle85,
.CodeCStyle86,
.CodeCStyle87,
.CodeCStyle88,
.CodeCStyle89,
.CodeCStyle90,
.CodeCStyle91,
.CodeCStyle92,
.CodeCStyle93,
.CodeCStyle94,
.CodeCStyle95,
.CodeCStyle96,
.CodeCStyle97,
.CodeCStyle98,
.CodeCStyle99,
.CodeCStyle100,
.CodeCStyle101,
.CodeCStyle102,
.CodeCStyle103,
.CodeCStyle104,
.CodeCStyle105,
.CodeCStyle106,
.CodeCStyle107,
.CodeCStyle108,
.CodeCStyle109,
.CodeCStyle110,
.CodeCStyle111,
.CodeCStyle112,
.CodeCStyle113,
.CodeCStyle114,
.CodeCStyle115,
.CodeCStyle116,
.CodeCStyle117,
.CodeCStyle118,
.CodeCStyle119,
.CodeCStyle120,
.CodeCStyleDefault {
    color: red;
}

/* Style for C++ number_def*/
.CodeCStyle37,
.CodeCStyle38,
.CodeCStyle42,
.CodeCStyle43,
.CodeCStylenumber_def
{
    color: green;
}

/* Style for C++ logic*/
.CodeCStylelogic
{
    color: blue;
}

